{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    <table class="table">
        <thead>
            <tr>
                <th>Date de passage</th>
                <th>Quête</th>
                <th>Difficulté</th>
            </tr>
        </thead>
        <tbody>
            {% for checkpoint in field.value %}
                <tr>
                    <td>
                        {% set url = ea_url().setDashboard('App\\Admin\\Controller\\DashboardController').setController('App\\Admin\\Controller\\CheckpointCrudController').setAction('detail').setEntityId(checkpoint.id) %}
                        <a href="{{ url }}">{{ checkpoint.finishedAt|date('d/m/Y H:i:s') }}</a>
                    </td>
                    <td>
                        {% set url = ea_url().setDashboard('App\\Admin\\Controller\\DashboardController').setController('App\\Admin\\Controller\\QuestCrudController').setAction('detail').setEntityId(checkpoint.quest.id) %}
                        <a href="{{ url }}">{{ checkpoint.quest }}</a>
                    </td>
                    <td>
                        {% if checkpoint.quest.difficulty.value == 1 %}
                            <span class="badge badge-success">{{ checkpoint.quest.difficulty.name }}</span>
                        {% elseif checkpoint.quest.difficulty.value == 2 %}
                            <span class="badge badge-warning">{{ checkpoint.quest.difficulty.name }}</span>
                        {% else %}
                            <span class="badge badge-danger">{{ checkpoint.quest.difficulty.name }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center" colspan="2">Aucun checkpoint</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <span class="badge badge-secondary">{{ field.formattedValue }}</span>
{% endif %}
