{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Réponses</th>
                <th>Bonne réponse ?</th>
            </tr>
        </thead>
        <tbody>
            {% for response in field.value %}
                <tr>
                    <td>
                        {% set url = ea_url().setDashboard('App\\Admin\\Controller\\DashboardController').setController('App\\Admin\\Controller\\QuestionCrudController').setAction('detail').setEntityId(response.question.id) %}
                        <a href="{{ url }}">{{ response.question.label }}</a>
                    </td>
                    <td>
                        {% set url = ea_url().setDashboard('App\\Admin\\Controller\\DashboardController').setController('App\\Admin\\Controller\\QuestionCrudController').setAction('detail').setEntityId(response.question.id) %}
                        <a href="{{ url }}">{{ response.question.label }}</a>
                    </td>
                    <td>
                        <ul class="list-group">
                            {% for answer in response.question.answers %}
                                <li class="list-group-item d-flex justify-content-between align-items-center {{ answer.good ? "bg-success" : "" }}">
                                    {{ answer.label }}
                                    {% if answer in response.answers %}
                                        <span class="bagde bagde-primary badge-pill">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if response.valid %}
                            <span class="badge badge-success">Oui</span>
                        {% else %}
                            <span class="badge badge-danger">Non</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <span class="badge badge-secondary">{{ field.value|length }}</span>
{% endif %}
